/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 8:38:57 AM
    Author     : jbuckner
*/

table.ride-management.user {border: 0px solid #333; border-collapse: collapse; font-size: 11px;}
table.ride-management.user tr {border: 0px solid #333;}
table.ride-management.user tr td {border: 0px solid #333;padding: 2px 2px;}
table.ride-management.user tr span.label {color: #333; font-weight: bold; padding-right: 3px;}
table.ride-management.user tr td span.content-green {color: green; padding-right: 3px;}
table.ride-management.user tr td span.content-red {color: red; padding-right: 3px;}
table.ride-management.user input[type="text"] {border: 1px solid #333; font-size: 12px; padding: 5px 5px 5px 12px; width: 300px; height: 25px; font-family: 'Lato', Arial; color: #333;}
table.ride-management.user select.small {border: 1px solid #333; font-size: 14px; width: 300px; height: 25px; font-family: 'Lato', Arial;}
table.ride-management.user select.large {border: 1px solid #333; font-size: 14px; width: 450px; height: 25px; font-family: 'Lato', Arial;}

table.ride-management.group {border: 0px solid #333; border-collapse: collapse; font-size: 11px;}
table.ride-management.group tr {border: 0px solid #333;}
table.ride-management.group tr td {border: 0px solid #333;padding: 2px 2px;}
table.ride-management.group tr span.label {color: #333; font-weight: bold; padding-right: 3px;}
table.ride-management.group tr td span.content-green {color: green; padding-right: 3px;}
table.ride-management.group tr td span.content-red {color: red; padding-right: 3px;}
table.ride-management.group input[type="text"] {border: 1px solid #333; font-size: 14px; padding: 5px 5px 5px 12px;  width: 450px; height: 25px; font-family: 'Lato', Arial;}
table.ride-management.group select.small {border: 1px solid #333; font-size: 14px; width: 450px; height: 25px; font-family: 'Lato', Arial;}
table.ride-management.group select.large {border: 1px solid #333; font-size: 14px; width: 450px; height: 25px; font-family: 'Lato', Arial;}

table.ride-management.group.detail {border: 0px solid #333; border-collapse: collapse; font-size: 11px;}
table.ride-management.group.detail tr {border: 0px solid #333;}
table.ride-management.group.detail tr:nth-child(even) {background: #fff;}
table.ride-management.group.detail tr:nth-child(odd) {background: #fff;}
table.ride-management.group.detail tr td {border: 0px solid #333;padding: 5px 5px;}
table.ride-management.group.detail tr span.label {color: #333; font-weight: bold; padding-right: 3px;}
table.ride-management.group.detail tr span.content-green {color: green; padding-right: 3px;}
table.ride-management.group.detail tr span.content-red {color: red; padding-right: 3px;}


table.ride-management.friends {border: 1px solid #333; border-collapse: collapse; font-size: 10px;}
table.ride-management.friends tr {border: 1px solid #333;}
table.ride-management.friends tr.table-header {background: #465a9b !important; color: #fff;}
table.ride-management.friends tr:nth-child(even) {background: #ccc;}
table.ride-management.friends tr:nth-child(odd) {background: #fff;}
table.ride-management.friends tr td {border: 1px solid #333;padding: 2px 2px;}

table.ride-management.subfriend {border: 0px solid #333 !important; border-collapse: collapse; font-size: 10px;}
table.ride-management.subfriend tr {border: 0px solid #333 !important;}
table.ride-management.subfriend tr.table-header {background: #465a9b !important; color: #fff;}
table.ride-management.subfriend tr:nth-child(even) {background: #fff;}
table.ride-management.subfriend tr:nth-child(odd) {background: #fff;}
table.ride-management.subfriend tr td {border: 0px solid #333 !important;padding: 2px 2px;}
table.ride-management.subfriend tr td.col1 {width: 100px;}
table.ride-management.subfriend tr td.col2 {width: 100px;}

table.ride-management.subrider {border: 0px solid #333 !important; border-collapse: collapse; font-size: 10px;}
table.ride-management.subrider tr {border: 0px solid #333 !important;}
table.ride-management.subrider tr.table-header {background: #465a9b !important; color: #fff;}
table.ride-management.subrider tr:nth-child(even) {background: #fff !important;}
table.ride-management.subrider tr:nth-child(odd) {background: #fff !important;}
table.ride-management.subrider tr td {border: 0px solid #333 !important;padding: 2px 2px;}
table.ride-management.subrider tr td.col1 {width: 100px;}
table.ride-management.subrider tr td.col2 {width: 100px;}


table.ride-management.available {border: 0px solid greenyellow; border-collapse: collapse; font-size: 10px;}
table.ride-management.available tr {border: 0px solid greenyellow;}
table.ride-management.available tr.table-header {background: #6493ed !important; color: #fff;}
table.ride-management.available tr:nth-child(even) {background: #ccc;}
table.ride-management.available tr:nth-child(odd) {background: #fff;}
table.ride-management.available tr td {border: 0px solid greenyellow; padding: 2px 2px;}
table.ride-management.available input[type="checkbox"] {border: 1px solid #333;}

table.ride-management.groups {border: 1px solid #333; border-collapse: collapse; font-size: 10px;}
table.ride-management.groups tr {border: 1px solid #333;}
table.ride-management.groups tr.table-header {background: #465a9b !important; color: #fff;}
table.ride-management.groups tr:nth-child(even) {background: #ccc;}
table.ride-management.groups tr:nth-child(odd) {background: #fff;}
table.ride-management.groups tr td {border: 1px solid #333;padding: 2px 2px;}

table.ride-management.rides {border: 1px solid #333; border-collapse: collapse; font-size: 11px;}
table.ride-management.rides tr {border: 1px solid #333;}
table.ride-management.rides tr:nth-child(even) {background: #ccc;}
table.ride-management.rides tr:nth-child(odd) {background: #fff;}
table.ride-management.rides tr td {border: 1px solid #333;padding: 5px 5px;}

table.ride-management.rides.add {border: 0px solid #333; border-collapse: collapse; font-size: 11px;}
table.ride-management.rides.add tr {border: 0px solid #333;}
table.ride-management.rides.add tr:nth-child(even) {background: #fff;}
table.ride-management.rides.add tr:nth-child(odd) {background: #fff;}
table.ride-management.rides.add tr td {border: 0px solid #333;padding: 5px 5px;}
table.ride-management.rides.add input[type="text"] {border: 1px solid #333; font-size: 14px; padding: 5px 5px 5px 12px; width: 435px; height: 25px; font-family: 'Lato', Arial;}
table.ride-management.rides.add select.small {border: 1px solid #333; font-size: 14px; width: 100px; height: 25px; font-family: 'Lato', Arial;}
table.ride-management.rides.add select.large {border: 1px solid #333; font-size: 14px; width: 435px; height: 25px; font-family: 'Lato', Arial;}

table.ride-management.rides.detail {border: 0px solid #333; border-collapse: collapse; font-size: 11px;}
table.ride-management.rides.detail tr {border: 0px solid #333;}
table.ride-management.rides.detail tr:nth-child(even) {background: #fff;}
table.ride-management.rides.detail tr:nth-child(odd) {background: #fff;}
table.ride-management.rides.detail tr td {border: 0px solid #333;padding: 5px 5px;}
table.ride-management.rides.detail tr span.label {color: #333; font-weight: bold; padding-right: 3px;}
table.ride-management.rides.detail tr span.content-green {color: green; padding-right: 3px;}
table.ride-management.rides.detail tr span.content-red {color: red; padding-right: 3px;}

table.ride-management.rides.detail.group {border: 0px solid #333; border-collapse: collapse; font-size: 11px;}
table.ride-management.rides.detail.group tr {border: 1px solid #333;}
table.ride-management.rides.detail.group tr.table-header {background: #465a9b !important; color: #fff;}
table.ride-management.rides.detail.group tr:nth-child(even) {background: #ccc;}
table.ride-management.rides.detail.group tr:nth-child(odd) {background: #fff;}
table.ride-management.rides.detail.group tr td {border: 1px solid #333;padding: 2px 2px;}

.ride-management-segment-header {font-weight: bold; font-size: 12px; margin: 3px;}
.ride-management-segment-subheader {font-weight: bold; font-size: 10px; margin: 3px 0 3px 0; clear: both; }

.ride-management-friends-available {}
.ride-management-friends-group-add {}

.circle {
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    /*
    position: relative;
    top: 0px;
    */
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.clickable:hover {background-color: #fcefa1 !important; cursor: hand; cursor: pointer;}
.clickable.base:hover {background: transparent !important; font-weight: bold; cursor: hand; cursor: pointer;}
.clickable.ad:hover {cursor: hand; cursor: pointer;}

.label-01 {
    font-weight: normal;
    padding-right: 3px;
}

.label-02 {
    display: inline-block;
    text-align: left;
}

.ui-datepicker-trigger {position: relative; top: 4px; left: 4px;}
.ui-selectmenu-menu .ui-menu {max-height: 200px;}

div.ui-datepicker {font-size: 11px;}

.ride-add-ad {}
.ride-add-ad.top {width: 100%; margin: 0px; border: 0px solid blue; background-image: url('/images/ads/sram-logo-small.jpg'); background-position: center; background-repeat: repeat-x; height: 25px; }
.ride-add-ad.bottom {width: 100%; margin: 0px; border: 0px solid blue; background-image: url('/images/ads/sram-logo-small.jpg'); background-position: center; background-repeat: repeat-x; height: 25px; }
/*.ride-add-ad.alley {width: 150px; height: 150px; margin: 0px; border: 1px solid red; background-image: url('/images/ads/sram-logo-medium.jpg'); background-position: center; background-repeat: no-repeat;}*/
.ride-add-ad.alley {width: 150px; height: 150px; margin: 0px; border: 1px solid red; }

.ride-add-button {font-size: 10px !important; width: 75px;}
.ride-add-button span.green {color: green !important; font-size:11px !important; margin-left: 3px;}
.ride-add-button span.red {color: red !important; font-size:11px !important; margin-left: 3px;}

.subride-button-action {font-size: 10px !important; width: 125px; margin: 3px;}
.subride-ranking-star {font-size: 30px; color: #999; margin: 5px;}
.subride-ranking-star:hover {cursor: pointer; cursor: hand;}

.user-edit-ad {}
/*
.user-edit-ad.top {width: 100%; margin: 0px; border: 0px solid blue; background-image: url('/images/ads/shimano-logo-small.jpg'); background-position: center; background-repeat: repeat-x; height: 25px; }
.user-edit-ad.bottom {width: 100%; margin: 0px; border: 0px solid blue; background-image: url('/images/ads/shimano-logo-small.jpg'); background-position: center; background-repeat: repeat-x; height: 25px; }
.user-edit-ad.alley {width: 150px; height: 150px; margin: 0px; border: 0px solid orange; background-image: url('/images/ads/shimano-logo-small.jpg'); background-position: center; background-repeat: no-repeat;}
*/
.user-edit-ad.top {clear: both; width: 100%; margin: 5px 0 5px 0; border: 0px dotted blue;  height: 25px; }
.user-edit-ad.bottom {clear: both; width: 100%; margin: 5px 0 5px 0; border: 0px dotted blue;  height: 25px; }
.user-edit-ad.alley {width: 150px; height: 150px; margin: 0px; border: 0px dotted blue;}

.group-add-ad {}
/*
.user-edit-ad.top {width: 100%; margin: 0px; border: 0px solid blue; background-image: url('/images/ads/shimano-logo-small.jpg'); background-position: center; background-repeat: repeat-x; height: 25px; }
.user-edit-ad.bottom {width: 100%; margin: 0px; border: 0px solid blue; background-image: url('/images/ads/shimano-logo-small.jpg'); background-position: center; background-repeat: repeat-x; height: 25px; }
.user-edit-ad.alley {width: 150px; height: 150px; margin: 0px; border: 0px solid orange; background-image: url('/images/ads/shimano-logo-small.jpg'); background-position: center; background-repeat: no-repeat;}
*/
.group-add-ad.top {width: 100%; margin: 0px; border: 1px dotted green;  height: 25px; }
.group-add-ad.bottom {width: 100%; margin: 0px; border: 1px dotted green;  height: 25px; }
.group-add-ad.alley {width: 125px; height: 125px; margin: 0px; border: 1px dotted green;}

.user-details-vertical-align {position: relative; top: 50%; transform: translateY(-50%);}
.equipment-list-label-01 {display: inline-block; font-size: 9px; padding-right: 5px; width: 100px;}
.equipment-list-label-02 {display: inline-block; font-size: 9px; padding-right: 5px; width: 150px;}

.guide-display {
    background: #6493ed; 
    color: #fff; 
    font-size: 10px; 
    font-weight: bold;    
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;        
    padding: 2px 5px 2px 5px;
    margin-left: 5px;
}